version: '3'
services:
  nestjs:
    image: todo_list_shareable_backend_production
    container_name: todo-nestjs
    build:
      context: todo-list-shareable-backend
      dockerfile: Dockerfile
    ports:
      - "3000-3000"
    networks:
      - net
  vue:
    image: todo_list_shareable_frontend_production
    container_name: todo-vue
    build:
      context: todo-list-shareable-frontend
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    networks:
      - net
networks:
  net: