version: '3.4'
services:
  nestjs_backend:
    image: nestjs_backend
    build:
      context: todo-list-shareable-backend
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - .:/node/app:delegated
      - /node/app/node_modules
