version: '3.4'
services:
  nestjs:
    image: todo_list_shareable_backend_development
    container_name: todo-nestjs
    build:
      context: todo-list-shareable-backend
      target: development
    environment:
      - NODE_ENV=development
    volumes:
      - ./node/app:delegated
      - /node/app/node_modules
    ports:
      - "3000-3000"
    networks:
      - net
  vue:
    image: todo_list_shareable_frontend_development
    container_name: todo-vue
    build:
      context: todo-list-shareable-frontend
      target: development
    environment:
      - NODE_ENV=development
    volumes:
      - ./node/app:delegated
      - /node/app/node_modules
    ports:
      - "8081:8080"
    networks:
      - net
networks:
  net: